<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Landing Page</title>
	<!-- jQuery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

	<!-- Bootstrap css -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="./css/style.css">
</head>
<body>

<div class="container-fluid">

	<section id="hero" class="row">

		<div class="col-md-3">
			<a class="logo" href="#home">
				<h1 class="logo">and<span class="dark">U</span></h1>
			</a>
		</div>

		<div class="col-md-4 col-md-offset-5 user-nav">
			<a href="#login">Log In</a>/<a href="#signup" class="dark">Sign Up</a>
		</div>

		<div class="col-xs-12 slogan">

			<h1>Alone we can do so little</h1>
			<h2>together we can do so much.</h2>
		</div>

	</section>

	<section id="features" class="row">
		<div class="col-md-8 col-md-offset-2">
			<h2 class="section-title wow fadeIn" data-wow-offset="50">
				<span>Why?</span>Why?
			</h2>

			<ul class="row">
				<li class="col-sm-6 wow bounceInLeft">
					<img src="./images/bulb.png" class="img-circle">
					Meet like-minded people
				</li>
				<li class="col-sm-6 wow bounceInRight">
					<img src="./images/fun.png" class="img-circle">
					Destroy boredom
				</li>
				<li class="col-sm-6 wow bounceInLeft">
					<img src="./images/way.png" class="img-circle">
					Find your way
				</li>
				<li class="col-sm-6 wow bounceInRight">
					<img src="./images/active.png" class="img-circle">
					Be Proactive
				</li>
			</ul>
		</div>
	</section>

	<section class="row dark">

	</section>
	
	<section class="row active">

	</section>

	<section id="team" class="row dark">
		<div class="col-md-8 col-md-offset-2">

			<h2 class="section-title wow fadeIn">
				<span>Team</span>Team
			</h2>

			<div class="row team-members">
				<div class="col-xs-6 col-md-3 wow slideInUp">
					<img src="http://placehold.it/160x160" alt="G.K" class="img-responsive img-circle center-block">
					<h4>Georgi Kiryakov</h4>
					<p>Otpred</p>
				</div>

				<div class="col-xs-6 col-md-3 wow slideInUp" data-wow-delay="50ms">
					<img src="http://placehold.it/160x160" alt="P.I" class="img-responsive img-circle center-block">
					<h4>Petar Ivanov</h4>
					<p>Otzad</p>
				</div>

				<div class="col-xs-6 col-md-3 wow slideInUp" data-wow-delay="100ms">
					<img src="http://placehold.it/160x160" alt="..." class="img-responsive img-circle center-block">
					<h4>Ivelin Todorov</h4>
					<p>Strongest Man</p>
				</div>

				<div class="col-xs-6 col-md-3 wow slideInUp" data-wow-delay="150ms">
					<img src="http://placehold.it/160x160" alt="..." class="img-responsive img-circle center-block">
					<h4>Dr. Who</h4>
					<p>Ghost</p>
				</div>
			</div>

		</div>
	</section>

	<footer id="footer" class="row">

		<div class="col-xs-6 col-md-3">
			<a class="logo" href="#home">
				<h1 class="logo">and<span>U</span></h1>
			</a>
			<p>Copyright © 2015<br>andU ™ Inc. <br>Proudly Made in BG</p>
		</div>

		<div class="col-xs-6 col-md-3">
			<h3>Connect</h3>
			<ul>
				<li>Blog</li>
				<li>Facebook</li>
				<li>Twitter</li>
				<li>LinkedIn</li>
				<li>GitHub</li>
			</ul>
		</div>

		<div class="col-xs-6 col-md-3">
			<h3>Company</h3>
			<ul>
				<li>About Us</li>
				<li>Blog</li>
				<li>Contact</li>
				<li>Press</li>
				<li>Events</li>
			</ul>
		</div>

		<div class="col-xs-6 col-md-3">
			<h3>Help</h3>
			<ul>
				<li>Getting Started</li>
				<li>Feedback</li>
				<li>Referral Program</li>
				<li>FAQ</li>
			</ul>
		</div>

	</footer>

</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
<script src="./js/typed.js"></script>
<script>
	new WOW({mobile: false, live: false}).init();
</script>
</body>
</html>