#hero {
	background-color: #3498db; /* #f08136; #f39c12 */
	color: #fff;
}

#hero .user-nav {
	text-align: center;
	font-size: 1.5em;
	font-weight: 200;
	margin-top: 0.6em;
}

#hero .user-nav a{
	padding: 0 0.2em;
	color: #fff;
}
#hero .user-nav a.dark {
	color: #222;
}

#hero .slogan {
	text-align: center;
	font-size: 2em;
	color: #222;
}

#hero .slogan h1 {
	font-size: 2em;
	margin-bottom: 0.3em;
}

#hero .slogan h2 {
	font-size: 1.5em;
}